a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  width: 375px;
  text-align: center;
}

img {
  cursor: pointer;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.align {
  text-align: left;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  padding: 1.5px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  align-items: flex-start;
  background-color: white;
  margin: 88px 24px 24px 24px;
  border-radius: 16px;
}

.card h2 {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 0;
}

.card-btn {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 17px;
  color: #396df2;
  padding: 16px;
  border: 1px solid #396df2;
  border-radius: 6px;
  background-color: white;
}

.card p {
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  margin: 0;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  align-self: flex-start;
  margin-left: 25px;
  margin-bottom: 0;
}

.font {
  font-family: "poppins", sans-serif;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  margin: 0 auto;
  background-color: white;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
  position: relative;
  left: 15px;
}

.info {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  width: 327px;
  margin: 0;
}

.intro {
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  font-family: "poppins", sans-serif;
  color: #344563;
  width: 320px;
  margin-bottom: 0;
}

.lang {
  font-weight: 500;
  font-size: 12px;
  color: #6070ff;
  letter-spacing: 0.003em;
  margin: 0 5px;
  border-radius: 6px;
  border-style: none;
  padding: 6px;
}

.more {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  padding: 3px 7px;
}

.navbar {
  position: relative;
  right: 15px;
}

.section {
  background-image: url("../images/header-background.svg");
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  padding-top: 65px;
}

.vectors {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  margin: 10px;
  padding-left: 0;
}

.vectors a {
  margin: 20px;
}

.work {
  display: grid;
  background-color: #e5e5e5;
}

.work-img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}
